.reveal section img {
    border-style: none;
    box-shadow: none;
}

.reveal blockquote {
    border: solid 1px cadetblue;
    box-shadow: none;
    text-align: left;
}

.reveal h2 {
    font-size: 1.9em;
}
